   .attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }
    .query-option {
  border: 1px solid #ccc;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}
